<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">
  <targets async="true">
    <target name="hfile" xsi:type="File"
            fileName="${basedir}/Log/FolderCrawler.html"
            keepFileOpen="false"
            archiveFileName="${basedir}/Log/FolderCrawler_${shortdate}.{##}.log.html"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
            >
      <layout xsi:type="LayoutWithHeaderAndFooter">
        <layout xsi:type="SimpleLayout">
          <text><![CDATA[<div style="border: 1px solid; float: left">${longdate} - ${level:uppercase=true}:</div><div style="border: 1px solid; float: left">${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}</div><div style="clear: both"></div>]]> </text>
        </layout>
      </layout>
    </target>
    <target xsi:type="Console"
              name="hconsole"
              layout="${longdate} - ${level:uppercase=true}:${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
    />    
  </targets>
  <rules>
    <logger name="*" writeTo="hfile" minlevel="Debug" />
    <logger name="*" writeTo="hconsole" minlevel="Debug" />
  </rules>  
</nlog>